<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empleados</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Lista de Empleados</h1>
    <a href="/empleados/nuevo" class="btn btn-primary mb-4">Añadir Empleado</a> <!-- Botón para añadir empleado -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Salario</th>
            <th>Departamento</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empleado : ${empleados}">
            <td th:text="${empleado.id}"></td>
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.apellido}"></td>
            <td th:text="${empleado.correo}"></td>
            <td th:text="${empleado.salario}"></td>
            <td th:text="${empleado.departamento != null ? empleado.departamento.nombre : 'Sin Departamento'}"></td>
            <td>
                <a th:href="@{/empleados/{id}(id=${empleado.id})}" class="btn btn-info btn-sm">Ver</a>
                <a th:href="@{/empleados/editar/{id}(id=${empleado.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/empleados/borrar/{id}(id=${empleado.id})}" class="btn btn-danger btn-sm"
                   onclick="return confirm('¿Estás seguro de que deseas eliminar este empleado?');">Borrar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>